__test__
.git
.github
.idea
.DS_Store
.vscode
coverage
docs
node_modules
src
.babelrc
.editorconfig
.eslintignore
.eslintrc.json
.gitattributes
.gitignore
.prettierignore
.prettierrc.json
jest.config.ts
package-lock.json
tsconfig.json
